<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/get_keyword.css') }}">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
</head>
<body>
    <div class="main">
        <h1>트위터 감성분석</h1>
    <form action="/" method="post"> 
        <p>검색어를 입력해주세요.</p> 
        <p>키워드 : <input id="input_text" type="text" required name="word" />
        <button id="myButton" type="submit" onclick="myFunction();">클릭</button>
        </p> 
        <p id="wait"></p>
    </form>
    </div>
    
    <script>
        function myFunction(e) {
            let val = document.querySelector("#input_text").value
            if(val)
                document.getElementById("wait").innerHTML = "분석까지 20초 정도 소요됩니다.";
        }
    </script>
</body>
</html>